body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(/wwwroot/images/b3.jpg);
   
}
.sign-up-form{
    width: 300px;
    box-shadow: #fff;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.sign-up-form h1{
    color: #1c8adb;
    margin-bottom: 20px;
}
.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
.button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.signup-btn{
    background-color: #1c8adb;
}
.Gmail-btn{
    background-color: #2c8adb;
}
a{
    text-decoration: none;
}
img{
    height: 80px;
    margin-top: -50px;
     border-radius: 50%;
}